<form>
  Are you looking for a lady, a gent, or maybe even a knight in shining armor?
  <input id="one" type="text" ng-model="words.partner" placeholder="partner"/>
  <input id="two" type="text" ng-model="words.wordModel2" placeholder="word2"/>
  <input id="three" type="text" ng-model="words.wordModel3" placeholder="word3"/>
  <input id="four" type="text" ng-model="words.wordModel4" placeholder="word4"/>
  <input id="five" type="text" ng-model="words.wordModel5" placeholder="word5"/>
  <input id="six" type="text" ng-model="words.wordModel6" placeholder="word6"/>
  <input id="seven" type="text" ng-model="words.wordModel7" placeholder="word7"/>

  <input type="submit" ng-click="getWord(words)" />

</form>
